<h1>Listing Users</h1>

<form action="/users" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" name="client[first_name]" placeholder="First Name" /><br />
  <input type="text" name="client[last_name]" placeholder="Last Name" /><br />
  <input type="text" name="client[email_address]" placeholder="Email" /><br />
  <input type="text" name="client[password]" placeholder="Password" /><br />

  <input type="submit" value="Submit" /><br /><!--routes to create.html.erb... why?-->
</form>

