<!DOCTYPE html>
<html>
<head>
  <title>CVPractice</title>
  <%= stylesheet_link_tag    "users" %>
  <%= javascript_include_tag "users" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
